<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-lazy-init="true" default-autowire="byName">


    <bean id="blogService"
          class="com.tea.blog.service.BlogServiceImpl" >
        <!--<property name="registerUmsDao" ref="registerUmsDao"/>-->
    </bean>



    <bean id="blogAPIController"
          class="com.tea.blog.controller.BlogAPIController" >
        <property name="blogService" ref="blogService" />

    </bean>



</beans>
