<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-lazy-init="true" default-autowire="byName">


    <bean id="manageImplService"
          class="com.tea.frame.manage.service.impl.ManageImplService" >
        <!--<property name="registerUmsDao" ref="registerUmsDao"/>-->
        <property name="blogBasicDAO" ref="blogBasicDAO" />
        <property name="registerUmsDao" ref="registerUmsDao" />
        <property name="userFollowDao" ref="userFollowDao"/>
    </bean>

    <bean id="manageController"
          class="com.tea.frame.manage.controller.impl.ManageImplController" >
        <property name="manageImplService" ref="manageImplService" />
    </bean>


</beans>