<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-lazy-init="true" default-autowire="byName">


    <bean id="registerUmsService"
          class="com.tea.frame.ums.service.impl.RegisterUmsService" >
        <property name="registerUmsDao" ref="registerUmsDao"/>
    </bean>

    <bean id="registerUmsController"
          class="com.tea.frame.ums.controller.impl.RegisterUmsController" >
        <property name="registerUmsService" ref="registerUmsService" />
        <property name="finalUserSignupCheck" ref="finalUserSignupCheck"/>
    </bean>

    <bean id="registerUmsDao" class="com.tea.frame.ums.dao.impl.RegisterUmsDao">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="settingUmsController"
          class="com.tea.frame.ums.controller.impl.SettingUmsController" >
        <property name="settingUmsService" ref="settingUmsService" />

    </bean>

    <bean id="settingUmsService"
          class="com.tea.frame.ums.service.impl.SettingUmsService" >
        <property name="settingUmsDao" ref="settingUmsDao"/>
    </bean>

    <bean id="settingUmsDao" class="com.tea.frame.ums.dao.impl.SettingUmsDao">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="userFollowDao" class="com.tea.frame.ums.dao.impl.UserFollowDao">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="operateUmsService" class="com.tea.frame.ums.service.impl.OperateUmsService" >
        <property name="userFollowDao" ref="userFollowDao"/>
    </bean>


</beans>
