<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true" default-autowire="byName">

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <aop:config>
        <!--<aop:advisor-->
                <!--pointcut="execution(* com.tea.share..controller.*Controller(..))"-->
                <!--advice-ref="jdbcTxAdvice" />-->
        <aop:advisor
            pointcut="execution(* com.tea..service..*Service(..))"
            advice-ref="jdbcTxAdvice" />
        <aop:advisor
                pointcut="execution(* com.tea..service.*Service(..))"
                advice-ref="jdbcTxAdvice" />
    </aop:config>
    <tx:advice id="jdbcTxAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--tx:method四个属性
                propagation="SUPPORTS" read-only="true" isolation="DEFAULT" timeout="20"-->
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

</beans>