.form-container {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login input[name="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[name="password"] {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}